---
layout: default
---
<article class="container w-3/4 mx-auto">
  <header class="mb-10">
    <h1 class="max-md:text-3xl text-5xl text-center mt-8 mb-2 font-bold">{{ page.title }}</h1>
    <p class="text-center italic mb-4">{{ page.date | date: '%B %d, %Y' }} | <span class="time">{{ page.content |
        number_of_words
        |
        divided_by:180 }}</span> Minute Read</p>
  </header>
  <div class="mx-auto prose prose-xl max-md:prose-md">
    {{ content }}
  </div>

  <!-- POST NAVIGATION -->
  <footer class="justify-between footer my-8">
    {%- if page.previous.url -%}
    <div class="flex flex-row">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
      </svg>
      <a class="prev{% if page.previous.image %} image{% endif %}"
        href="{{ page.previous.url | relative_url }}"><span>&nbsp;{{ page.previous.title | truncate: 40 }}</span>
      </a>
    </div>
    {%- endif -%}
    {%- if page.next.url -%}
    <div class="flex">
      <a class="next{% if page.next.image %} image{% endif %}" href="{{ page.next.url | relative_url }}"><span>{{
          page.next.title | truncate: 40 }}&nbsp;</span>
      </a>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
      </svg>
    </div>
    {%- endif -%}
  </footer>
</article>

{%- if site.disqus.shortname -%}
{%- include disqus_comments.html -%}
{%- endif -%}